.containe-home {

    position: relative;
    top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background: transparent;


}

.home-img {

    width: 400px;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.home-img img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    border-radius: 20%;

}

.home-text span {


    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: brown;

}

.home-text p {

    color: white;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.home-text h1 {

    color: green;
    margin: 23px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.main-btn {


    display: inline-block;
    padding: 14px 34px;
    background: orange;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.6s rase-in-out;
}

.main-btn:hover{

  transform:translateY(-5px);
  background: transparent;
  color: var(--main-color);

}