body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Patua One', cursive;
}

header {
    background: #27363f;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
    padding-bottom: 0;

}

img {

    height: 200px;
}

a {
    text-decoration: none;
    color: inherit;

}


nav ul {
    background-color: #446274;
    overflow: hidden;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover {
    background-color: #718e9e;
}

section {
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 10px;
    width: 75%;
    margin: 0 auto;

}

article {

    background-color: black;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: white;
    background-color: #446274;
    margin-bottom: 0;
}
/*----index---*/
.containe-home {

    position: relative;
    top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background: transparent;


}

.home-img {

    width: 400px;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.home-img img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    border-radius: 20%;

}

.home-text span {


    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: brown;

}

.home-text p {

    color:black;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.home-text h1 {

    color: green;
    margin: 23px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.main-btn {


    display: inline-block;
    padding: 14px 34px;
    background: orange;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.6s rase-in-out;
}

.main-btn:hover{

  transform:translateY(-5px);
  background: transparent;
  color: var(--main-color);

}
/*about*/

.container-about {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  }
  .container-about .left_Side {
    position: relative;
    background-color: #003147;
    padding: 40px;
  }
  .profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 35px;
  }
  .profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .photo {
    width: 100%;
    height: auto;
  }
  .profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
  }
  .profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
  }
  .contactInfo {
    padding-top: 40px;
  }
  .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .contactInfo ul {
    position: relative;
  }
  .contactInfo ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
  }
  .contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
  }
  .contactInfo ul li span {
    color: #fff;
    font-weight: 300;
  }
  .contactInfo.education li {
    margin-bottom: 15px;
  }
  .contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
  }
  .contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
  }
  .contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
  }
  .contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
  }
  .contactInfo.language .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
  }
  .container-about .right_Side {
    position: relative;
    background-color: #fff;
    padding: 40px;
  }
  .about {
    margin-bottom: 50px;
  }
  .about:last-child {
    margin-bottom: 0;
  }
  .title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  p {
    color: #081921;
  }
  .about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }
  .about .box .year_company {
    min-width: 150px;
  }
  .about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
  }
  .about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
  }
  .skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
  }
  .skills .box h4 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
  }
  .skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
  }
  .skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
  }
  .interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .interest ul li {
    list-style: none;
    color: black;
    font-weight: 500;
    margin: 10px 0;
  }
  .interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
  }
  @media (max-width: 1000px) {
    .container-about {
      margin: 10px;
      grid-template-columns: repeat(1, 1fr);
    }
    .interest ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

.swe70 {
    width: 70%;
}

.eng90 {
    width: 90%;
}

.am100 {
    width: 100%;
}

.html80 {
    width: 80%;
}

.css80 {
    width: 80%;
}

.js70 {
    width: 70%;
}

.net90 {
    width: 90%;
}

.sql90 {

    width: 90%;
}



/*----portfolio----*/

.sub-title {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #e66262;
    text-shadow: 3px 3px 3px #ababab;
}


.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

.card {
    max-width: 500px;
    height: 400px;
    min-height: 250px;
    background: #02b875;
    padding: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFF;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(241, 6, 6, 0.9);

}

.card img {

    width: 600px;
    width: 450px;
}

.card:nth-child(2) {
    background: #4181ee;
    box-shadow: 10px 10px 10px rgba(241, 6, 6, 0.9);

}

.card:last-child {
    background: #673ab7;
    box-shadow: 10px 10px 10px rgba(241, 6, 6, 0.9);
}

.card-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.card-content {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-btn {
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #FFF;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.card-btn:hover {
    color: #02b875;
    background: #FFF;
}

.card:nth-child(2) .card-btn:hover {
    color: #4181ee;
    background: #FFF;
}

.card:last-child .card-btn:hover {
    color: #673ab7;
    background: #FFF;
}

/*---pop-up---*/

.popup {
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup>* {
    margin: 15px 0px;
}

.popup .close-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.popup h2,
.popup p {

    color: black;
    text-align: center;
}


/*----services----*/

.container {
    padding: 30px 0;
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-list p {

    color: white;

}

.services-list h2 {

    color: brown;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}




.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 40px;
    margin: 40px auto;
    width: 80%;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}



.services-list div a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(19, 224, 36);
    margin-top: 20px;
    display: block;
    text-align: center;
}


/*----contact----*/

.contact{

  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 
}

.contact .content{

  max-width: 800px;
  text-align: center;
  
}

.contact .content h2{

  font-size: 36px;
  font-weight: 500;
  color:darkblue;
}
.contact .content p{

 
  font-weight: 300;
  color:black;
}
.container-contact{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   top: -300px;
  background-image: url("../images/contactbg2.jpg");
  background-size: cover;
  padding-top: 10px;
  border-radius: 5px;

}

.container-contact .contatinfo{

  width: 20%;
  display: flex;
 flex-direction: column;

}

.container-contact .contatinfo.boxes{

position: absolute;
padding: 20px 0;
display: flex;


}

.container-contact .contatinfo .boxes .icon{

  max-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  
 
 }
 .container-contact .contatinfo .boxes .text{

  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: brown;
  flex-direction: column;
  font-weight: 300;
  
 }
 .container-contact .contatinfo .boxes .text .h3{

  font-weight: 500 ;
  padding: 40px;
  background: white;
 }

 .contactform{

  width: 40%;
  padding: 40px;
  background: white;
 }
 .contactform h2{

  font-size: 30px;
  color: darkblue;
  font-weight: 500;
 }

 .contactform .inputbox{
position: relative;
width: 100%;
margin-top: 10px;

 }

 .contactform .inputbox input,
 .contactform .inputbox textarea{

  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
 }

 .contactform .inputbox span{

  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
 }

 .container-contact .contatinfo .boxes .text p{

color: rgb(0, 7, 0);
font-style: bold;
font-weight: 300;

 }

@media screen and (max-width:580px) {

    nav ul {
        max-height: 0;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        text-align: left;
    }

  
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

   
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

   
  
}



